# Visual Studio
.vs/
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# VS Code
.vscode/

# Node
node_modules/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# User uploaded profile pictures
services/IdentityService/Identity.API/uploads/