.sidebar{

    width:360px;

    background:white;

    border-right:1px solid var(--border);

    display:flex;

    flex-direction:column;

}

.sidebar-header{

    padding:20px;

    border-bottom:1px solid var(--border);

    font-size:22px;

    font-weight:700;

}